/* NAVIGATION MENU*/

body {
    margin: 0;
    padding: 0;
}

.parallax-navigation {
  /* The image used */
  background-image: url("./essentialimage/navimage.jpg");

  /* Set a specific height */
  min-height: 790px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/*
.main_body {
    background-image: url("logo22.jpg");
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding-top: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

*/

a.navbutton {
    padding-top: 40px;
    -webkit-appearance: button;
    -moz-appearance: button;
    appearance: button;
    text-decoration: none;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 30px;
    color: #9932CC;

    border-radius: 100px;
}
.navbutton:hover {
    text-decoration: underline;
    color: #FFD700;
    border-radius: 50px;
}
.nav {
    height: 3.2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: antiquewhite;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    box-sizing: border-box;
    width: 100%;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
}

.navdescrip {
    padding-top: 150px;
    color: purple;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 40px;
}
    
.nav__logo {
    font-size: 1.5rem;
    margin: auto 1rem;
}
    .nav__logo h3 {
        color: #e0ac1c;
        font: normal 20px 'Cookie', cursive;
        margin: 0;
        font-weight: bold;
    }

        .nav__logo h3 span {
            color: antiquewhite;
        }

.logoimg {
    width: 70px;
    height: 70px;
}

.nav__menu ul {
    margin: 0;
    padding: 0;
    display: flex;

}

    .nav__menu ul li {
        list-style: none;
    }

        .nav__menu ul li a {
            text-decoration: none;
            color: #FFD700;
            padding: 1rem;
            display: block;
        }

.nav__menu li:hover {
    text-decoration: underline;
    background-color: #BA55D3;
    border-radius:50px;
    
}

.nav__hamburger {
    width: 1.875rem;
    height: 1.313rem;
    display: none;
    flex-direction: column;
    justify-content: space-around;
    position: absolute;
    top: 1rem;
    right: 1rem;
}

.nav__hamburger__line {
    height: 0.188rem;
    width: 100%;
    background-color: #fff;
    border-radius: 0.625rem;
    transition: all ease-in-out 0.2s;
}


/* hamburger ----------------------------------------------*/

@media screen and (max-width: 550px) {
    .nav__hamburger {
        display: flex;
    }

    .nav__menu {
        position: absolute;
        display: flex;
        align-items: center;
        background-color: rgba(255, 255, 255, 0.2);
        top: -15rem;
        width: 100%;
        transition: all ease-in-out 0.4s;
    }

    .nav {
        flex-direction: column;
        align-items: flex-start;
    }

    .nav__menu ul {
        flex-direction: column;
        width: 100%;
        padding: 3rem 0 0.6rem;
    }

        .nav__menu ul li {
            text-align: center;
        }

            .nav__menu ul li a {
                padding: 0.5rem;
            }

    .nav__menu {
        z-index: -1;
    }

        .nav__menu.active {
            top: 0;
        }

    .nav__hamburger.active :nth-child(1) {
        transform: rotate(45deg) translate(0.45rem, 0.1875rem);
    }

    .nav__hamburger.active :nth-child(2) {
        opacity: 0;
    }

    .nav__hamburger.active :nth-child(3) {
        transform: rotate(-45deg) translate(0.45rem, -0.1875rem);
    }
}

/* main body ---------------------------------------------------------------------------------------*/
.aboutparallax {
    /* The image used */
    background-image: url("./essentialimage/aboutfiller.jpg");
    /* Set a specific height */
    min-height: 180px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    text-align:center;
    background-repeat: no-repeat;
    background-size: cover;
}
.aboutfillertext{
  padding-top:60px;
}
/* about section ---------------------------------------------------------------------------------------*/
.aboutussection {
    background-color: ##FFFFF0;
    color: #9932CC;
    margin-bottom: 0px;
    margin-top:40px
}
.about-title{
    text-align:center;
    font-size:45px;
    font-weight:bold;
    margin-bottom:70px;
    color:black;
}
.about-content{
    display:flex;
    flex-wrap:wrap;
    align-items:center;
}
.about-image {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    height:400px;
}
.about-text{
    flex:1;
    margin-left:20px;
}

/* our story section */
.section{
    width:100%;
    
    padding-top:50px;
    padding-bottom:0px;
    box-sizing:border-box;
    margin-top:20px;
}
.container{
    width:80%;
    display:block;
    margin:auto;
}
.content-section {
    float: left;
    width: 55%;
    margin-top: 20px;
}
    .content-section .story-title {
        margin-top: 20px;
        color: #FFD700;
    }
.image-section{
    float:right;
    width:40%;
}
    .image-section img {
        flex: 1;
        margin-left: 20px;
        overflow: hidden;
        border-radius: 10px;
    }
.story-content {
    flex: 1;
    margin-right: 20px;
}

/* why choose us section */


.why-title {
    text-align: right;
    font-size: 45px;
    margin-top: 40px;
    padding-right: 50px;
    color: #FFD700;
    margin-bottom:-100px;
}

.why-content {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}

.why-image {
    flex: 1;
    margin-right: 20px;
    overflow: hidden;
    border-radius: 10px;
    transform: scale(0.8);
}


.why-text {
    flex: 1;
    margin-left: 20px;
}
.parallax-fillerproduct {
    /* The image used */
    background-image: url("logo22.jpg");
    /* Set a specific height */
    min-height: 200px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius:10px;
}

.fillerproduct {
    padding-top: 90px;
    color: palegoldenrod;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align:center;
}

/**product section------------------------------------------------------------------------------*/
.productimage {
    /* The image used */
    background-image: url("./essentialimage/productimage.jpg");

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border-radius: 10px;
}
.products {
    position: relative;
    overflow: hidden;
    padding: 20px;
}

.product-category {
    padding: 0 10vw;
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 40px;
    text-transform: capitalize;
}

.product-container {
    padding: 0 10vw;
    display: flex;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-bottom:20px;
}

    .product-container::-webkit-scrollbar {
        display: none;
    }

.product-card {
    flex: 0 0 auto;
    width: 250px;
    height: 450px;
    margin-right: 40px;
}

.product-image {
    position: relative;
    width: 100%;
    height: 350px;
    overflow: hidden;
}

.product-thumb {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.discount-tag {
    position: absolute;
    background: #fff;
    padding: 5px;
    border-radius: 5px;
    color: #ff7d7d;
    right: 10px;
    top: 10px;
    text-transform: capitalize;
}

.card-btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px;
    width: 90%;
    text-transform: capitalize;
    border: none;
    outline: none;
    background: #fff;
    border-radius: 5px;
    transition: 0.5s;
    cursor: pointer;
    opacity: 0;
}

.product-card:hover .card-btn {
    opacity: 1;
}

.card-btn:hover {
    background: #9932CC;
    color: #FFD700;
}

.product-info {
    width: 100%;
    height: 100px;
    padding-top: 10px;
}

.product-brand {
    text-transform: uppercase;
    text-align:center;
}

.product-short-description {
    width: 100%;
    height: 20px;
    line-height: 20px;
    overflow: hidden;
    opacity: 0.5;
    text-transform: capitalize;
    margin: 5px 0;
    text-align: center;
}

.price {
    font-weight: 900;
    font-size: 20px;
}

.actual-price {
    margin-left: 20px;
    opacity: 0.5;
    text-decoration: line-through;
}

.pre-btn,
.nxt-btn {
    border: none;
    width: 10vw;
    height: 100%;
    position: absolute;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
    cursor: pointer;
    z-index: 8;
}

.pre-btn {
    left: 0;
    transform: rotate(180deg);
}

.nxt-btn {
    right: 0;
}

    .pre-btn img,
    .nxt-btn img {
        opacity: 0.2;
    }

    .pre-btn:hover img,
    .nxt-btn:hover img {
        opacity: 1;
    }

.collection-container {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10px;
}

.collection {
    position: relative;
}

    .collection img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    .collection p {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: #fff;
        font-size: 50px;
        text-transform: capitalize;
    }

    .collection:nth-child(3) {
        grid-column: span 2;
        margin-bottom: 10px;
    }

    /**all products section*/
a, a:hover {
    text-decoration: none;
    color: inherit;
}

.section-products {
    padding: 80px 0 54px;
}

    .section-products .header {
        margin-bottom: 50px;
    }

        .section-products .header h3 {
            font-size: 1rem;
            color: #fe302f;
            font-weight: 500;
        }

        .section-products .header h2 {
            font-size: 2.2rem;
            font-weight: 400;
            color: #444444;
        }

    .section-products .single-product {
        margin-bottom: 26px;
    }

        .section-products .single-product .part-1 {
            position: relative;
            height: 290px;
            max-height: 290px;
            margin-bottom: 20px;
            overflow: hidden;
        }

            .section-products .single-product .part-1::before {
                position: absolute;
                content: "";
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                z-index: -1;
                transition: all 0.3s;
            }

        .section-products .single-product:hover .part-1::before {
            transform: scale(1.2,1.2) rotate(5deg);
        }

   

    .section-products .single-product .part-1 .discount,
    .section-products .single-product .part-1 .new {
        position: absolute;
        top: 15px;
        left: 20px;
        color: #ffffff;
        background-color: #fe302f;
        padding: 2px 8px;
        text-transform: uppercase;
        font-size: 0.85rem;
    }

    .section-products .single-product .part-1 .new {
        left: 0;
        background-color: #444444;
    }

    .section-products .single-product .part-1 ul {
        position: absolute;
        bottom: -41px;
        left: 20px;
        margin: 0;
        padding: 0;
        list-style: none;
        opacity: 0;
        transition: bottom 0.5s, opacity 0.5s;
    }

    .section-products .single-product:hover .part-1 ul {
        bottom: 30px;
        opacity: 1;
    }

    .section-products .single-product .part-1 ul li {
        display: inline-block;
        margin-right: 4px;
    }

        .section-products .single-product .part-1 ul li a {
            display: inline-block;
            width: 40px;
            height: 40px;
            line-height: 40px;
            background-color: #ffffff;
            color: #444444;
            text-align: center;
            box-shadow: 0 2px 20px rgb(50 50 50 / 10%);
            transition: color 0.2s;
        }

            .section-products .single-product .part-1 ul li a:hover {
                color: #fe302f;
            }

    .section-products .single-product .part-2 .product-title {
        font-size: 1rem;
    }

    .section-products .single-product .part-2 h4 {
        display: inline-block;
        font-size: 1rem;
    }

    .section-products .single-product .part-2 .product-old-price {
        position: relative;
        padding: 0 7px;
        margin-right: 2px;
        opacity: 0.6;
    }

        .section-products .single-product .part-2 .product-old-price::after {
            position: absolute;
            content: "";
            top: 50%;
            left: 0;
            width: 100%;
            height: 1px;
            background-color: #444444;
            transform: translateY(-50%);
        }



/**contact section-------------------------------------------------------------------------------------------*/
.contactparallax {
    /* The image used */
    background-image: url("./essentialimage/contactfiller.jpg");
    /* Set a specific height */
    min-height: 180px;
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    text-align: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.contactfillertext {
    padding-top: 60px;
    color: black;
}
.contactTitle{
    margin-top:30px;
    color:black;
}

.contact-container {
    margin-top: 30px;
    box-sizing: border-box;
    width: 100%;
    min-height: 100vh;
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    padding: 30px 8%;
    color: black;
}

    .contact-container .row {
        display: flex;
        justify-content: space-between;
        width: 100%;
        max-width: 1100px;
    }

.row section.col {
    display: flex;
    flex-direction: column;
}

.row section.left {
    flex-basis: 35%;
    min-width: 320px;
    margin-right: 60px;
}

.row section.right {
    flex-basis: 60%;
}

section.left .contactTitle h2 {
    position: relative;
    font-size: 28px;
    color: black;
    display: inline-block;
    margin-bottom: 25px;
}

    section.left .contactTitle h2::before {
        content: '';
        position: absolute;
        width: 50%;
        height: 1px;
        background-color: #888;
        top: 120%;
        left: 0;
    }

    section.left .contactTitle h2::after {
        content: '';
        position: absolute;
        width: 25%;
        height: 3px;
        background-color: dodgerblue;
        top: calc(120% - 1px);
        left: 0;
    }

section.left .contactTitle p {
    font-size: 17px;
    color: black;
    letter-spacing: 1px;
    line-height: 1.2;
    padding-bottom: 22px;
}

section.left .contactInfo {
    margin-bottom: 16px;
}

.contactInfo .iconGroup {
    display: flex;
    align-items: center;
    margin: 25px 0px;
}

.iconGroup .icon {
    width: 45px;
    height: 45px;
    border: 2px solid dodgerblue;
    border-radius: 50%;
    margin-right: 20px;
    position: relative;
}

    .iconGroup .icon i {
        font-size: 20px;
        color: black;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

.iconGroup .details span {
    display: block;
    color: #888;
    font-size: 18px;
}

    .iconGroup .details span:nth-child(1) {
        text-transform: uppercase;
        color: black;
    }

section.left .socialMedia {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-wrap: wrap;
    margin: 22px 0px 20px;
}

.socialMedia a {
    width: 35px;
    height: 35px;
    text-decoration: none;
    text-align: center;
    margin-right: 15px;
    border-radius: 5px;
    background-color: dodgerblue;
    transition: 0.4s;
}

    .socialMedia a i {
        color: #ddd;
        font-size: 18px;
        line-height: 35px;
        border: 1px solid transparent;
        transition-delay: 0.4s;
    }

    .socialMedia a:hover {
        transform: translateY(-5px);
        background-color: #2e2e2e;
        color: dodgerblue;
        border: 1px solid dodgerblue;
    }

        .socialMedia a:hover i {
            color: dodgerblue;
        }

/* Code for the right section (column) */

.row section.right .messageForm {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding-top: 30px;
}

.row section.right .inputGroup {
    margin: 18px 0px;
    position: relative;
}

.messageForm .halfWidth {
    flex-basis: 48%;
}

.messageForm .fullWidth {
    flex-basis: 100%;
}

.messageForm input, .messageForm textarea {
    width: 100%;
    font-size: 18px;
    padding: 2px 0px;
    background-color: antiquewhite;
    color: black;
    border: none;
    border-bottom: 2px solid #666;
    outline: none;
}

.messageForm textarea {
    resize: none;
    height: 220px;
    display: block;
}

textarea::-webkit-scrollbar {
    width: 5px;
}

textarea::-webkit-scrollbar-track {
    background-color: #1e1e1e;
    border-radius: 15px;
}

textarea::-webkit-scrollbar-thumb {
    background-color: dodgerblue;
    border-radius: 15px;
}

.inputGroup label {
    position: absolute;
    left: 0;
    bottom: 4px;
    color: #888;
    font-size: 18px;
    transition: 0.4s;
    pointer-events: none;
}

.inputGroup:nth-child(4) label {
    top: 2px;
}

.inputGroup input:focus ~ label, .inputGroup textarea:focus ~ label,
.inputGroup input:valid ~ label, .inputGroup textarea:valid ~ label {
    transform: translateY(-30px);
    font-size: 16px;
}

.inputGroup button {
    padding: 8px 16px;
    font-size: 18px;
    background-color: dodgerblue;
    color: #ddd;
    border: 1px solid transparent;
    border-radius: 25px;
    outline: none;
    cursor: pointer;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
    transition: 0.4s;
}

    .inputGroup button:hover {
        background-color: #2e2e2e;
        color: dodgerblue;
        box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.3);
        border: 1px solid dodgerblue;
    }

@media(max-width: 1100px) {
    .messageForm .halfWidth {
        flex-basis: 100%;
    }
}

@media(max-width: 900px) {
    .container .row {
        flex-wrap: wrap;
    }

    .row section.left, .row section.right {
        flex-basis: 100%;
        margin: 0px;
    }
}
/* footer --------------------------------------------------------------------------------------------*/

footer {
    
   padding-bottom: 0px;
}

@media (max-height:800px) {
    footer {
        position: static;
    }

    header {
        padding-top: 40px;
    }
}

.footer-distributed {
    background-image: url("mountains.jpg");
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 50px 50px 60px 50px;
    margin-top: 80px;
}

    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: inline-block;
        vertical-align: top;
    }

    /* Footer left */

    .footer-distributed .footer-left {
        width: 30%;
    }

    .footer-distributed h3 {
        color: #e0ac1c;
        font: normal 36px 'Cookie', cursive;
        margin: 0;
    }


        .footer-distributed h3 span {
            color: #ffffff;
        }

    /* Footer links */

    .footer-distributed .footer-links {
        color: #ffffff;
        margin: 20px 0 12px;
    }

        .footer-distributed .footer-links a {
            display: inline-block;
            line-height: 1.8;
            text-decoration: none;
            color: inherit;
        }

    .footer-distributed .footer-company-name {
        color: #8f9296;
        font-size: 14px;
        font-weight: normal;
        margin: 0;
    }

    /* Footer Center */

    .footer-distributed .footer-center {
        width: 35%;
    }

        .footer-distributed .footer-center i {
            background-color: #33383b;
            color: #ffffff;
            font-size: 25px;
            width: 38px;
            height: 38px;
            border-radius: 50%;
            text-align: center;
            line-height: 42px;
            margin: 10px 15px;
            vertical-align: middle;
        }

            .footer-distributed .footer-center i.fa-envelope {
                font-size: 17px;
                line-height: 38px;
            }

        .footer-distributed .footer-center p {
            display: inline-block;
            color: #ffffff;
            vertical-align: middle;
            margin: 0;
        }

            .footer-distributed .footer-center p span {
                display: block;
                font-weight: normal;
                font-size: 14px;
                line-height: 2;
            }

            .footer-distributed .footer-center p a {
                color: #e0ac1c;
                text-decoration: none;
                ;
            }

    /* Footer Right */
.footer-section{

}
.footer-distributed .footer-right {
    width: 30%;
}

    .footer-distributed .footer-company-about {
        line-height: 20px;
        color: white;
        font-size: 13px;
        font-weight: normal;
        margin: 0;
    }

        .footer-distributed .footer-company-about span {
            display: block;
            color: white;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 20px;
        }

    .footer-distributed .footer-icons {
        margin-top: 25px;
    }

        .footer-distributed .footer-icons a {
            display: inline-block;
            width: 35px;
            height: 35px;
            cursor: pointer;
            background-color: #33383b;
            border-radius: 2px;
            font-size: 20px;
            color: #ffffff;
            text-align: center;
            line-height: 35px;
            margin-right: 3px;
            margin-bottom: 5px;
        }

            .footer-distributed .footer-icons a:hover {
                background-color: palegoldenrod;
                
            }

.footer-links a:hover {
    color: palegoldenrod;
}

/* footer media*/
@media (max-width: 880px) {
    .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
        display: block;
        width: 100%;
        margin-bottom: 40px;
        text-align: center;
    }

        .footer-distributed .footer-center i {
            margin-left: 0;
        }
}
